.body {
    display: grid;
    font: 20px;
}

.result {
    display: flex;
}

.input {
    flex-direction: column;
}

.input-line {
    flex-direction: row;
    padding: 1rem 1.5rem;
}

ul {
    margin : 0.5rem;
    border : solid 2px #cccccc ;
    position: relative;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
}